.sekund {
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		--gray-4: #2a2e3b;
		--gray-3: #474c59;
		--gray-2: #636976;
		--gray-1: #828794;
		--accent-4: #d55268;
		--accent-3: #dc707c;
		--accent-2: #e48991;
		--accent-1: #eaa3a7;
		--accent-0: #e6ccce;
		--white-4: #f4f2ef;
		--white-3: #ebe8e6;
		--white-2: #e3dedd;
		--white-1: #d9d3d2;
	}
}

.sekund button {
	background-color: var(--background-button);
	color: var(--text-normal);
	border: 1px solid var(--background-modifier-border);
	box-shadow: 0 1px 1px 0px var(--btn-shadow-color);
	cursor: pointer;
	height: var(--input-height);
	line-height: 0;
	white-space: nowrap;
	padding: 6px 20px;
	margin-right: 3px;
	margin-left: 3px;
	font-family: var(--font-ui);
	font-size: 13px;
	outline: none;
	user-select: none;
}

.sekund .ulink a {
	text-decoration: underline;
}

.sekund {
	--titlebar-height: 0px;
}
