.sekund {
	@tailwind components;
	@tailwind utilities;

	font-family: "Arial", "Helvetica", sans-serif;

	&.content {
		font-family: var(--font-family-preview);
	}

	@layer base {
		--gray-4: #2a2e3b;
		--gray-3: #474c59;
		--gray-2: #636976;
		--gray-1: #828794;
		--accent-4: #d55268;
		--accent-3: #dc707c;
		--accent-2: #e48991;
		--accent-1: #eaa3a7;
		--accent-0: #e6ccce;
		--white-4: #f4f2ef;
		--white-3: #ebe8e6;
		--white-2: #e3dedd;
		--white-1: #d9d3d2;
	}
}

.sekund .ulink a {
	text-decoration: underline;
}

.sekund {
	--titlebar-height: 0px;
}

.sekund .grow-wrap {
	/* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
	display: grid;
}

.sekund .grow-wrap::after {
	/* Note the weird space! Needed to preventy jumpy behavior */
	content: attr(data-replicated-value) " ";

	/* This is how textarea text behaves */
	white-space: pre-wrap;

	/* Hidden from view, clicks, and screen readers */
	visibility: hidden;
}

.sekund .grow-wrap > textarea {
	/* You could leave this, but after a user resizes, then it ruins the auto sizing */
	resize: none;

	/* Firefox shows scrollbar on growth, you can hide like this. */
	overflow: hidden;
}
.sekund .grow-wrap > textarea,
.sekund .grow-wrap::after {
	/* Identical styling required!! */
	padding: 0.5rem;
	font: inherit;

	/* Place on top of each other */
	grid-area: 1 / 1 / 2 / 2;
}

.sekund .split-grid {
	display: grid;
	grid-template-rows: 1fr 10px 1fr;
}

.sekund .gutter-row {
	grid-column: 1/-1;
	cursor: row-resize;
}

.sekund .gutter-row-1 {
	grid-row: 1;
}

.sekund gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}

.sekund .gutter.gutter-vertical {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
	background-repeat: no-repeat;
	background-position: center;
	cursor: row-resize;
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-title[data-path^="__sekund__"] .nav-folder-title-content {
	display: inline-block;
	text-transform: uppercase;
	font-style: italic;
}

.sekund .MuiAvatarGroup-avatar {
	height: 1.5rem;
	width: 1.5rem;
	font-size: small;
}

.sekund button,
.sekund a {
	cursor: pointer;
}

.sekund .emoji-mart-scroll {
	border-bottom: 0;
	margin-bottom: 6px;
}

.sekund .emoji-mart-scroll + .emoji-mart-bar {
	display: none;
}

.sekund textarea,
.sekund input {
	padding: 0.25rem 0.5rem;
}
