button {
  background-color: var(--background-button);
  color: var(--text-normal);
  border: 1px solid var(--background-modifier-border);
  box-shadow: 0 1px 1px 0px var(--btn-shadow-color);
  cursor: pointer;
  height: var(--input-height);
  line-height: 0;
  white-space: nowrap;
  padding: 6px 20px;
  margin-right: 3px;
  margin-left: 3px;
  font-family: var(--font-ui);
  font-size: 13px;
  outline: none;
  user-select: none;
}
